[submodule "themes/maupassant-pelican"]
	path = themes/maupassant-pelican
	url = git@github.com:ghxdghxd/maupassant-pelican.git
[submodule "themes/pelican-bootstrap4"]
	path = themes/pelican-bootstrap4
	url = git@github.com:ghxdghxd/pelican-bootstrap4.git
[submodule "plugins/pdf-img"]
	path = plugins/pdf-img
	url = git@github.com:cmacmackin/pdf-img.git