[submodule "themes/maupassant-pelican"]
	path = themes/maupassant-pelican
	url = git@github.com:ghxdghxd/maupassant-pelican.git
[submodule "themes/pelican-wiki"]
	path = themes/pelican-wiki
	url = git@github.com:ghxdghxd/pelican-wiki.git
